{% load i18n %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">{% trans "ShiftGap" %}</a>
        </div>
        <div class="collapse navbar-collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'shifts:shift_list' %}">{% trans "Shifts" %}</a></li>
                    <li><a href="{% url 'shifts:shift_list_user' %}">{% trans "My Shifts" %}</a></li>
                    <li><a href="{% url 'shifts:shift_create' %}">{% trans "New Shift" %}</a></li>
                    <li><a href="{% url 'shifts:shift_calendar' %}">{% trans "Calendar" %}</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                    <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>