Django==1.7.8
django-debug-toolbar==1.3.0
django-secure==1.0.1
psycopg2==2.6
pytz==2015.2
waitress==0.8.9
newrelic==2.50.0.39
dj-database-url
django-allauth==0.19.1
django-timezone-field==1.2
django-braces==1.8.0
arrow==0.5.4
djangorestframework==3.0.5
whitenoise==1.0.6
django-twilio==0.8.0

# external
django-cors-headers==1.0.0
django-rest-auth==0.3.4

# feature switching
django-waffle==0.10.1

# tasks
celery==3.1.18
redis==2.10.3
django-celery==3.1.16

# testing
model_mommy==1.2.4

honcho