Django>=1.7.3
django-debug-toolbar==1.2.2
django-secure==1.0.1
psycopg2==2.5.4
pytz==2014.10
waitress==0.8.9
newrelic
dj-database-url
django-allauth==0.19.0
django-timezone-field==1.1
django-braces==1.4.0
arrow==0.5.0
djangorestframework==3.0.3
whitenoise==1.0.6
django-twilio==0.8.0

# external
django-cors-headers==1.0.0
django-rest-auth==0.3.3

# tasks
celery==3.1.17
redis==2.10.3
django-celery==3.1.16

# testing
model-mommy

honcho