{% extends "__base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}

    <div class="container">

        {% if user.admin_or_manager %}
            {# Display a link to go to pending requests  #}
            {# You have __ pending requests #}

        {% endif %}

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="requests">
                <li role="presentation" class="active"><a href="#home" aria-controls="home">{% trans "Your Requests" %}</a></li>
                {% if user.userprofile.admin_or_manager %}
                    <li role="presentation"><a href="#pending" aria-controls="pending">{% trans "Pending Requests" %}</a></li>
                    <li role="presentation"><a href="#approved" aria-controls="approved">{% trans "Approved Requests" %}</a></li>
                {% endif %}
            </ul>



            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>{% trans "Dates" %}</th>
                                    <th>{% trans "Employee" %}</th>
                                    <th>{% trans "Status" %}</th>
                                    <th>{% trans "Cancel Request" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.start_date|date }} {% trans "to" %} {{ object.end_date|date }}</td>
                                        <td>{{ object.user.first_name }}</td>
                                        <td>{{ object.get_status_display }}</td>
                                        <td><button onclick="sg_cancelTimeOffRequest({{ object.pk }})" class="btn btn-sm">{% trans "Cancel" %}</button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Pending Request -->
                <div role="tabpanel" class="tab-pane fade" id="pending">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>{% trans "Dates" %}</th>
                                    <th>{% trans "Employee" %}</th>
                                    <th>{% trans "Status" %}</th>
                                    <th>{% trans "Reject Request" %}</th>
                                    <th>{% trans "Approve Request" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in pending %}
                                    <tr>
                                        <td>{{ object.start_date|date }} {% trans "to" %} {{ object.end_date|date }}</td>
                                        <td>{{ object.user.first_name }}</td>
                                        <td>{{ object.get_status_display }}</td>
                                        <td><button onclick="sg_rejectTimeOffRequest({{ object.pk }})" class="btn btn-sm">{% trans "Reject" %}</button></td>
                                        <td><button onclick="sg_approveTimeOffRequest({{ object.pk }})" class="btn btn-sm">{% trans "Approve" %}</button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Approved Requests -->
                <div role="tabpanel" class="tab-pane fade" id="approved">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>{% trans "Dates" %}</th>
                                    <th>{% trans "Employee" %}</th>
                                    <th>{% trans "Status" %}</th>
                                    <th>{% trans "Cancel Request" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in approved %}
                                    <tr>
                                        <td>{{ object.start_date|date }} {% trans "to" %} {{ object.end_date|date }}</td>
                                        <td>{{ object.user.first_name }}</td>
                                        <td>{{ object.get_status_display }}</td>
                                        <td><button onclick="sg_cancelTimeOffRequest({{ object.pk }})" class="btn btn-sm">{% trans "Cancel" %}</button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Request Time Off" %}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input id="datetime6text" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input id="datetime7text" type='text' class="form-control" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="textRequest" class="input-group text"></div>
                        </div>
                        <div class="form-group">
                            <textarea id="requestNote" class="form-control" placeholder="{% trans "Request note... (optional)" %}"></textarea>
                        </div>
                    </div>
                    <div class="panel-footer"><input id="submitRequest" type="submit" name="Submit"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block tail %}
    <script>
        var sg_users = {{ users|safe }};
        var sg_user = {{ user.pk }};
        // represents whether the user has admin or manager privileges
        var sg_admin_or_manager = "{{ admin_or_manager|safe }}";

        // ------------- begin AJAX setup

        // make ajax calls using csrf token automatically
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // ------------- end AJAX setup

    </script>
    <script src="{% static "availability-requests.js" %}"></script>
{% endblock tail %}