{% extends "__base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static "typeahead.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" %}">
{% endblock head %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    <div class="checkbox">
                        <label><input id="checkEveryone" class="form-control" type="checkbox" value="" checked="true">{% trans "Everyone" %}</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="checkMe" class="form-control" type="checkbox" value="">{% trans "Just Me" %}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Admin or Manager Options panel here -->
    {% if user.userprofile.admin_or_manager %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h5>{% trans "Admin Options" %}</h5>
                <button id="daterangepub" class="btn btn-info">{% trans "Publish Shifts by Range" %}</button>
                <button id="daterangeunpub" class="btn btn-warning">{% trans "Unpublish Shifts by Range" %}</button>
                <form id="daterangeform" class="hidden" method="post">{% csrf_token %}
                    <input id="id_from_date" maxlength="10" name="from_date" type="hidden" /><input id="id_to_date" maxlength="10" name="to_date" type="hidden" />
                    <input id="rangesubmit" type="submit" />
                </form>
            </div>
            <div class="row">
                <span style="padding-bottom: 10px; padding-top: 10px"></span>
            </div>
        </div>
    {% endif %}
    <!-- end Admin/Manager options -->

    <!-- Shift Detail Modal -->
    <div class="modal fade" id="shiftDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="shiftDetailModalLabel">{% trans "Shift Details" %}</h4>
                </div>
                <div id="shiftDetailModalContent" class="modal-body">

                </div>
                <div class="modal-footer">
                    {% if user.userprofile.admin_or_manager %}
                        <button id="publishShiftButton" type="button" class="btn btn-info" data-dismiss="modal">{% trans "Publish" %}</button>
                        <button id="unpublishShiftButton" type="button" class="btn btn-warning" data-dismiss="modal">{% trans "Un-Publish" %}</button>
                        <button id="deleteShiftButton" type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Delete" %}</button>
                    {% endif %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    {% if user.userprofile.admin_or_manager %}
                        <button type="button" id="saveShiftDetail" class="btn btn-primary">{% trans "Save changes" %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- END Shift Detail Modal -->

    <!-- Pop Over Content -->
    <div id="popover-content" class="hide" data-toggle="bob">
        <div class="form-group">
            <p><label for="employeeSelector">{% trans "Employee" %}:</label>
                <input id="employeeSelector" type="text" name="employee" placeholder="{% trans "Start typing first name" %}">
                <input type="hidden" id="employeeId">
            </p>

            <p><label for="timeText">{% trans "Time: " %}</label>
                <input type="text" id="timeText" placeholder="{% trans "e.g. 9am - 5pm / 9-17" %}"></p>

            <p><input id="quickCreateStartTime" type="hidden" name="start">
                <input id="quickCreateEndTime" type="hidden" name="end"></p>
            <button onclick="window.closePopover(this);" id="popover-close" class="btn btn-sm btn-primary">X</button>
            <button id="popover-save" onclick="window.newShift(this)" class="btn btn-sm btn-primary">{% trans "Save" %}</button>
        </div>
    </div>


{% endblock content %}

{% block tail %}
    <script src="{% static 'bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
    <script src="{% static "bower_components/bootstrap-daterangepicker/daterangepicker.js" %}"></script>

    <script>
        window.employees = {{ employees|safe }};
        window.default_schedule = {{ default_schedule|safe }};
        window.dayCreate = null;
        window.currentEvent = null;
        window.me = {{ user.pk|safe }};

        window.list_create_api_url = "{% url 'shift_list_create_api' %}";

        {% if user.userprofile.admin_or_manager %}
            window.admin_or_manager = true;
        {% else %}
            window.admin_or_manager = false;
        {% endif %}


        $(document).ready(function () {

            window.source = {
                url: '{% url 'shift_list_create_api' %}?format=json',
                type: 'GET',
                data: {
                    custom_param1: function () {
                        return 'hello'; // this should really be something to help us filter
                    }
                },
                error: function () {
                    alert('there was an error while fetching events');
                }
            };

            window.source_filtered = {
                url: '{% url 'shift_list_filtered_api' %}?format=json',
                type: 'GET',
                data: {
                    user: function () {
                        return me;
                    }
                },
                error: function () {
                    alert('there was an error while fetching events');
                }
            };

            window.source_unpublished = {};
            {% if user.userprofile.admin_or_manager %}
                source_unpublished = {
                    url: '{% url 'shift_list_unpublished_api' %}?format=json',
                    type: 'GET',
                    color: 'orange',
                    error: function () {
                        alert('There was an error fetching unpublished events. Please contact support.')
                    }
                };
            {% endif %}

            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');


            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#deleteShiftButton').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'shifts:shift_delete_calendar'%}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        pk: currentEvent.id
                    },
                    success: function () {
                        // display something to the user
                        alert('Shift Deleted!');
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                    dataType: 'JSON'
                }).fail(function (err) {
                    alert('Shift deletion failed!');
                    $('#calendar').fullCalendar('refetchEvents');
                });
                $('#shiftDetailModal').modal('hide');
            });
            $('#timeText').keydown(function (e) {
                if (e.which == 13) {
                    e.preventDefault();

                    $('#saveQuickShift').trigger('click');
                }
            });


            $('#checkMe').change(function () {
                if(this.checked) {
                    // uncheck everyone
                    $('#checkEveryone').attr('checked', false);
                    // add source for just me
                    $('#calendar').fullCalendar('addEventSource', source_filtered);
                    $('#calendar').fullCalendar('removeEventSource', source);
                    $('#calendar').fullCalendar('removeEventSource', source_unpublished);
                }
            });
            $('#checkEveryone').change(function () {
                if(this.checked) {
                    // uncheck me
                    $('#checkMe').attr('checked', false);
                    // add regular source back
                    $('#calendar').fullCalendar('addEventSource', source);
                    $('#calendar').fullCalendar('addEventSource', source_unpublished);
                    $('#calendar').fullCalendar('removeEventSource', source_filtered);
                }
            });

            $('#daterangepub').daterangepicker(
                    {
                        format: 'YYYY-MM-DD',
                        startDate: moment(),
                        endDate: moment().add('days', 7)
                    },
                    function(start, end, label) {

                        var r = confirm('Are you sure you want to publish all shifts from ' + start.format('YYYY-MM-DD')
                        + ' to ' +  end.format('YYYY-MM-DD') + '?');

                        $('#id_from_date').val(start.format('YYYY-MM-DD'));
                        $('#id_to_date').val(end.format('YYYY-MM-DD'));

                        if (r == true) {
                            // perform post
                            $('#daterangeform').attr('action', "{% url 'shifts:shift_publish_range' %}");
                            $('#rangesubmit').trigger('click');
                        } else {

                        }
                    }
            );
            $('#daterangeunpub').daterangepicker(
                    {
                        format: 'YYYY-MM-DD',
                        startDate: moment(),
                        endDate: moment().add('days', 7)
                    },
                    function(start, end, label) {

                        var r = confirm('Are you sure you want to un-publish all shifts from ' + start.format('YYYY-MM-DD')
                        + ' to ' +  end.format('YYYY-MM-DD') + '?');

                        $('#id_from_date').val(start.format('YYYY-MM-DD'));
                        $('#id_to_date').val(end.format('YYYY-MM-DD'));

                        if (r == true) {
                            // perform post
                            $('#daterangeform').attr('action', "{% url 'shifts:shift_unpublish_range' %}");
                            $('#rangesubmit').trigger('click');
                        } else {

                        }
                    }
            );
            $('#publishShiftButton').click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'shifts:shift_pubunpub' %}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        pk: currentEvent.id,
                        pub: "True",
                        success: function () {
                            // display something to the user
                            setTimeout(function () {
                                $('#calendar').fullCalendar('refetchEvents');
                            }, 200);
                        }
                    }
                }).fail(function (err) {
                    alert('Shift deletion failed!');
                    $('#calendar').fullCalendar('refetchEvents');
                });
                $('#shiftDetailModal').modal('hide');
            });

            $('#unpublishShiftButton').click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'shifts:shift_pubunpub' %}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        pk: currentEvent.id,
                        pub: "False",
                        success: function () {
                            // display something to the user
                            setTimeout(function () {
                                $('#calendar').fullCalendar('refetchEvents');
                            }, 200);
                        }
                    }
                }).fail(function (err) {
                    alert('Shift deletion failed!');
                    $('#calendar').fullCalendar('refetchEvents');
                });
                $('#shiftDetailModal').modal('hide');
            });


                $('#shiftDetailModalContent').on('click', '#saveNewDetails', function () {
                    var post_url = '/api/v1/shifts/' + currentEvent.id + "/";

                    $.ajax({
                        type: "POST",
                        url: post_url,
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            pk: currentEvent.id,
                            user: $('#employeeId').val(),
                            schedule: default_schedule
                        },
                        success: function (msg) {
                            //console.log(msg);
                        },
                        error: function (err) {
                            //console.log(err);
                        }
                    });
                    $('#shiftDetailModal').modal('hide');
                    setTimeout(function () {
                        $('#calendar').fullCalendar('refetchEvents');
                    }, 200);
                });


            // end of ready()
        });
        $('#shiftDetailModal').on('hide.bs.modal', function (e) {
            $('#employeeSelector').val('');
            $('#employeeId').val('');
            $('#shiftDetailModalContent').empty();
        });
        $('#quickCreateModal').on('hide.bs.modal', function (e) {
            $('#newShiftDate').remove();
            // clean it all up
            $('#timeText').val('');
            $('#quickCreateStartTime').val('');
            $('#quickCreateEndTime').val('');
            $('#employeeSelector').val('');
            $('#employeeId').val('');
        });
        $('#quickCreateModal').on('shown.bs.modal', function (e) {
            $('#employeeSelector').focus();
        });
        $("#employeeSelector").on("typeahead:selected typeahead:autocompleted",
                function(e,datum) {
                    $('#employeeId').val(datum.id);
                });
    </script>
    <script src="{% static 'calendar.js' %}"></script>
{% endblock tail%}