{% extends "__base.html" %}

{% block content %}
    <div class="container">

        <div class="row">


            <div class="col-md-12">

                <hr>
                <div class="form-group">
                    <form action="." method="post">{% csrf_token %}
                        {{ form.errors }}
                        <br />

                        <div class="input-group date">
                            {{ form.start_time.label_tag }}
                            <input type="text" id="id_start_time" name="start_time" data-date-format="YYYY-MM-DD HH:mm:00">
                        </div>

                        <div class="input-group date">
                            {{ form.end_time.label_tag }}
                            <input type="text" id="id_end_time" name="end_time" data-date-format="YYYY-MM-DD HH:mm:00">
                        </div>

                        <div class="input-group">
                            {{ form.schedule.label_tag }}
                            {{ form.schedule }}
                            {{ form.user.label_tag }}
                            {{ form.user }}
                            {{ form.organization }}
                        </div>


                        <input type="submit" name="Submit">
                    </form>

                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block tail %}

    <script>
        $(document).ready(
                $(function () {
                    $('#id_start_time').datetimepicker();
                    $('#id_end_time').datetimepicker();
                })
        )
    </script>

{% endblock tail %}