{% extends "__base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css' %}">
{% endblock head %}

{% block content %}

    <div id="calendar"></div>

    <!-- Shift Detail Modal -->
    <div class="modal fade" id="shiftDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="shiftDetailModalLabel">{% trans "Shift Details" %}</h4>
                </div>
                <div id="shiftDetailModalContent" class="modal-body">
                    Content here.
                </div>
                <div class="modal-footer">
                    <button id="deleteShiftButton" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="saveShiftDetail" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Quick Create Modal -->
    <div class="modal fade" id="quickCreateModal" tabindex="-1" role="dialog" aria-labelledby="quickCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="shiftCreateModalHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div id="quickCreateModalContent" class="modal-body">

                    <hr>
                    <div class="form-group">
                        <p><label for="employeeSelector">{% trans "Employee" %}:</label>
                            <input id="employeeSelector" type="text" name="employee">
                            <input type="hidden" id="employeeId">
                        </p>

                        <p><label for="timeText">{% trans "Time Text: " %}</label>
                            <input type="text" id="timeText"></p>

                        <p><input id="quickCreateStartTime" type="hidden" name="start">
                            <input id="quickCreateEndTime" type="hidden" name="end"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="button" id="saveQuickShift" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block tail %}
    <script src="{% static 'bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
    <script>
        var events = {{ events|safe }};
        var employees = {{ employees|safe }};
        var default_schedule = {{ default_schedule|safe }};
        var dayCreate = null;
        var currentEvent = null;

        $(document).ready(function () {

            $('#calendar').fullCalendar({
                dayClick: function (date, jsEvent, view) {
                    $('#quickCreateModal').modal('show');
                    // this piece of shit offsets the date based on the computers time for some reason
                    var offset = new Date().getTimezoneOffset();
                    date = date.zone(-offset);
                    var dateString = date._d.toString().slice(0,15)

                    $('#shiftCreateModalHeader').append("<h4 class=\"modal-title\" id=\"newShiftDate\">New Shift for " + dateString + ".</h4>");
                    dayCreate = date;
                },
                eventClick: function (calEvent, jsEvent, view) {
                    $('#shiftDetailModal').modal('show');
                    $('#shiftDetailModalContent').append("<p>" + calEvent.title + calEvent.start_time + "</p>");
                    currentEvent = calEvent;
                },
                eventSources: [
                    {
                        url: '{% url 'shift_list_create_api' %}?format=json',
                        type: 'GET',
                        data: {
                            custom_param1: function () {
                                return 'hello'; // this should really be something to help us filter
                            }
                        },
                        error: function () {
                            alert('there was an error while fetching events');
                        }
                    }
                ],
                displayEventEnd: true,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today basicWeek prev, next'
                }
            });
            $('#saveQuickShift').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'shift_list_create_api' %}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        schedule: default_schedule,
                        start_time: $('#quickCreateStartTime').val(),
                        end_time: $('#quickCreateEndTime').val(),
                        user: $('#employeeId').val()
                    },
                    success: function () {
                        // display something to the user
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                    dataType: 'JSON'
                }).fail(function () {
                    alert('Shift creation failed!');
                });
                $('#quickCreateModal').modal('hide');
            });
            $('#saveShiftDetail').click(function () {
                // POST the details
            });
            $('#deleteShiftButton').click(function () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'shifts:shift_delete_calendar'%}",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        pk: currentEvent.id
                    },
                    success: function () {
                        // display something to the user
                        alert('Shift Deleted!');
                        $('#calendar').fullCalendar('refetchEvents');
                    },
                    dataType: 'JSON'
                }).fail(function (err) {
                    alert('Shift deletion failed!');
                    $('#calendar').fullCalendar('refetchEvents');
                });
                $('#shiftDetailModal').modal('hide');
            });
            $('#timeText').keydown(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    var times = shorthand_to_datetimes(dayCreate, $(this).val());
                    $('#quickCreateStartTime').val(times[0]);
                    $('#quickCreateEndTime').val(times[1]);
                    $('#saveQuickShift').trigger('click');
                }
            });
            // prep Bloodhound suggestion engine for employee drop down selection
            var engine = new Bloodhound({
                name: 'employees',
                local: employees,
                datumTokenizer: function(d) {
                    return Bloodhound.tokenizers.whitespace(d.name);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });
            engine.initialize();
            $('#employeeSelector').typeahead({
                        highlight: true
                    },
                    {
                        name: 'employees',
                        displayKey: 'name',
                        source: engine.ttAdapter()
                    });
        });
        $('#shiftDetailModal').on('hide.bs.modal', function (e) {
            $('#shiftDetailModalContent').empty();
        });
        $('#quickCreateModal').on('hide.bs.modal', function (e) {
            $('#newShiftDate').remove();
            // clean it all up
            $('#timeText').val('');
            $('#quickCreateStartTime').val('');
            $('#quickCreateEndTime').val('');
            $('#employeeSelector').val('');
            $('#employeeId').val('');
        });
        $('#quickCreateModal').on('shown.bs.modal', function (e) {
            $('#employeeSelector').focus();
        });
        $("#employeeSelector").on("typeahead:selected typeahead:autocompleted",
                function(e,datum) {
                    $('#employeeId').val(datum.id);
                });
    </script>

{% endblock tail%}